*{
  margin-bottom: 25px;
}

.getWeatherData {
  display: flex;
  align-items:center;
  justify-content: start;
  border: 0px solid red;
}

.getWeatherData * {
  margin-right: 5px;
}

.weatherDisplay{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border: 1px solid black;
}